<!--Start CTA area-->
<section class="get-started-area pt-80px pb-50px pattern-bg bg-gray">
    <div class="container">
        <div class="text-center">
            <h2 class="section-title">RoundTable Q&A communities are different. <br> Here's how</h2>
        </div>
        <div class="row pt-50px">
            <div class="col-lg-4 responsive-column-half">
                <div class="card card-item hover-y text-center">
                    <div class="card-body">
                        <img src="{{ url_for('static', filename='images/bubble.png') }}" alt="bubble">
                        <h5 class="card-title pt-4 pb-2">Expert communities.</h5>
                        <p class="card-text">This is just a simple text made for this unique and awesome template, you
                            can easily edit it as you want.</p>
                    </div><!-- end card-body -->
                </div><!-- end card -->
            </div><!-- end col-lg-4 -->
            <div class="col-lg-4 responsive-column-half">
                <div class="card card-item hover-y text-center">
                    <div class="card-body">
                        <img src="{{ url_for('static', filename='images/vote.png') }}" alt="vote">
                        <h5 class="card-title pt-4 pb-2">The right answer. Right on top.</h5>
                        <p class="card-text">This is just a simple text made for this unique and awesome template, you
                            can easily edit it as you want.</p>
                    </div><!-- end card-body -->
                </div><!-- end card -->
            </div><!-- end col-lg-4 -->
            <div class="col-lg-4 responsive-column-half">
                <div class="card card-item hover-y text-center">
                    <div class="card-body">
                        <img src="{{ url_for('static', filename='images/check.png') }}" alt="check">
                        <h5 class="card-title pt-4 pb-2">Share knowledge. Earn trust.</h5>
                        <p class="card-text">This is just a simple text made for this unique and awesome template, you
                            can easily edit it as you want.</p>
                    </div><!-- end card-body -->
                </div><!-- end card -->
            </div><!-- end col-lg-4 -->
        </div><!-- end row -->
    </div><!-- end container -->
</section>
<!--End CTA area-->