<!--Start Navigation area-->
<header class="header-area bg-white shadow-sm">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-2">
                <div class="logo-box">
                    <a href="#" class="logo">Round Table</a>
                    <div class="user-action">
                        <div class="off-canvas-menu-toggle icon-element icon-element-xs shadow-sm" data-toggle="tooltip"
                            data-placement="top" title="Main menu">
                            <i class="ri-menu-3-line"></i></i>
                        </div>
                    </div>
                </div>
            </div><!-- end col-lg-2 -->
            <div class="col-lg-10">
                <div class="menu-wrapper">
                    <nav class="menu-bar ml-auto pr-2">
                        <ul>
                            <li>
                                <a href="/"><i class="ri-home-2-line"></i>&nbsp;Home</a>

                            </li>

                        </ul><!-- end ul -->
                    </nav><!-- end main-menu -->
                    <div class="nav-right-button">
                        <a href="/signin" class="btn theme-btn theme-btn-outline mr-2"><i class="ri-lock-2-line"></i>
                            Sign In</a>
                        <a href="/signup" class="btn theme-btn"><i class="ri-user-line"></i> Sign up</a>
                    </div><!-- end nav-right-button -->
                </div><!-- end menu-wrapper -->
            </div><!-- end col-lg-10 -->
        </div><!-- end row -->
    </div><!-- end container -->
    <div class="off-canvas-menu custom-scrollbar-styled">
        <div class="off-canvas-menu-close icon-element icon-element-sm shadow-sm" data-toggle="tooltip"
            data-placement="left" title="Close menu">
            <i class="ri-close-line"></i></i>
        </div><!-- end off-canvas-menu-close -->
        <ul class="generic-list-item off-canvas-menu-list pt-90px">
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="#">Pages</a>
            </li>
        </ul>
        <div class="off-canvas-btn-box px-4 pt-5 text-center">
            <a href="/signin" class="btn theme-btn theme-btn-sm theme-btn-outline">
                Sign In</a>
            <span class="fs-15 fw-medium d-inline-block mx-2">Or</span>
            <a href="/signup" class="btn theme-btn theme-btn-sm"> Sign up</a>
        </div>
    </div><!-- end off-canvas-menu -->
    <div class="body-overlay"></div>
</header>
<!-- End Navigation-area -->