{% extends "./layouts/master_layout.html" %}

{% block content %}
<!-- <div class="container mx-auto px-6">
    <section class="bg-white dark:bg-gray-800 w-2/3 px-10">
        <h2 class="text-lg font-semibold text-gray-700 capitalize dark:text-white">What's In Your Mind?</h2>

        <form>
            <div class="grid grid-cols-1 gap-8 mt-4 sm:grid-cols-1">
                <div>
                    <textarea placeholder="lorem..."
                        class="block  mt-2 w-full placeholder-gray-400/70 dark:placeholder-gray-500 rounded-lg border border-gray-200 bg-white px-4 h-32 py-2.5 text-gray-700 focus:border-blue-400 focus:outline-none focus:ring focus:ring-blue-300 focus:ring-opacity-40 dark:border-gray-600 dark:bg-gray-900 dark:text-gray-300 dark:focus:border-blue-300"></textarea>
                </div>
            </div>

            <div class="flex justify-end mt-6">
                <button
                    class="px-8 py-2.5 leading-5 text-white transition-colors duration-300 transform bg-gray-700 rounded-md hover:bg-gray-600 focus:outline-none focus:bg-gray-600">Ask</button>
            </div>
        </form>
    </section>
</div> -->
<!-- component -->
<div class="flex h-screen">
    <div class="flex-1 flex flex-col overflow-hidden">
        <div class="flex h-full">
            <nav class="flex w-1/2 h-full">
                <div class="w-full flex mx-auto px-6 py-8">
                    <div
                        class="w-full h-full flex items-center justify-center text-gray-900 text-xl border-4 border-gray-900 border-dashed">
                        Sidebar</div>
                </div>
            </nav>
            <main class="flex flex-col w-full bg-white overflow-x-hidden overflow-y-auto mb-14">
                <div class="flex w-full mx-auto px-6 py-8">
                    {% include './partials/cards.html'%}
                </div>
            </main>
            <nav class="flex w-1/2 h-full">
                <div class="w-full flex mx-auto px-6 py-8">
                    <div
                        class="w-full h-full flex items-center justify-center text-gray-900 text-xl border-4 border-gray-900 border-dashed">
                        Rightbar</div>
                </div>
            </nav>
        </div>
    </div>
</div>

<style>
    ::-webkit-scrollbar {
        width: 5px;
        height: 5px;
    }

    ::-webkit-scrollbar-thumb {
        background: linear-gradient(13deg, #dadada 10%, #4338CA 10%);
        border-radius: 10px;
    }

    ::-webkit-scrollbar-thumb:hover {
        background: linear-gradient(13deg, #dadada 10%, #4338CA 10%);
    }

    ::-webkit-scrollbar-track {
        background: #ffffff;
        border-radius: 10px;
        box-shadow: inset 7px 10px 12px #f0f0f0 0%;
    }
</style>
{% endblock %}