<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }} | RoundTable</title>
    <!-- Favicon -->
    <link rel="icon" sizes="16x16" href="{{ url_for('static', filename='images/favicon.png') }}" />
    <!-- Google fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com/">
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&amp;display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/3.7.0/remixicon.min.css"
        integrity="sha512-9dM+qk2jOZSKUQwjFh8iOtYvIoz3HidudalPDswePq12rBzkbVAQYqb1lrASFwocSLSUJ5TqNQ6xgNuOFSfT6g=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- inject:css -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/line-awesome.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/owl.carousel.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/owl.theme.default.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/jquery-te-1.4.0.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/upvotejs.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/selectize.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/gsap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/ScrollTrigger.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/0.155.0/three.min.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/automat/controlkit.js@master/bin/controlKit.min.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/sheryjs/dist/Shery.css" />
    <!-- end inject -->
</head>

<body>
    {% include './partials/loader.html'%}
    {% include './partials/navigation.html'%}
    {% block content %}
    {% endblock %}
</body>

<!-- script files -->
<script src="{{ url_for('static', filename='js/jquery-3.4.1.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/owl.carousel.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/jquery-te-1.4.0.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/upvote.vanilla.js') }}"></script>
<script src="{{ url_for('static', filename='js/upvote-script.js') }}"></script>
<script src="{{ url_for('static', filename='js/selectize.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/jquery.multi-file.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/main.js') }}"></script>
<script type="text/javascript" src="https://unpkg.com/sheryjs/dist/Shery.js') }}"></script>
<script src="{{ url_for('static', filename='js/anim.js') }}"></script>

</html>