<!-- Page title starts -->
<div
    class="my-6 lg:my-12 container px-6 mx-auto flex flex-col lg:flex-row items-start lg:items-center justify-between pb-4 border-b border-gray-300">
    <div>
        <h4 class="text-2xl font-bold leading-tight text-gray-800">{{greeting}}, Amrit</h4>
        <ul class="flex flex-col md:flex-row items-start md:items-center text-gray-600 text-sm mt-3">
            <li class="flex items-center mr-3 mt-3 md:mt-0">
                <span class="mr-2">
                    <img src="https://tuk-cdn.s3.amazonaws.com/can-uploader/light_with_Grey_background-svg8.svg"
                        alt="Active">
                </span>
                <span>Abc</span>
            </li>
            <li class="flex items-center mr-3 mt-3 md:mt-0">
                <span class="mr-2">
                    <img src="https://tuk-cdn.s3.amazonaws.com/can-uploader/light_with_Grey_background-svg9.svg"
                        alt="Trending">
                </span>
                <span> Xyz</span>
            </li>
            <li class="flex items-center mt-3 md:mt-0">
                <span class="mr-2">
                    <img src="https://tuk-cdn.s3.amazonaws.com/can-uploader/light_with_Grey_background-svg10.svg"
                        alt="date">
                </span>
                <span>PQR</span>
            </li>
        </ul>
    </div>
    <!-- <div class="mt-6 lg:mt-0">
        <button
            class="mx-2 my-2 bg-white transition duration-150 ease-in-out focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-indigo-700 focus:ring-white hover:bg-gray-100 rounded text-indigo-700 px-6 py-2 text-sm">Back</button>
        <button
            class="transition duration-150 ease-in-out hover:bg-indigo-600 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-700 border bg-indigo-700 rounded text-white px-8 py-2 text-sm">Edit
            Profile</button>
    </div> -->
</div>
<!-- Page title ends -->