<html>
    <head>
        <link rel="stylesheet" type="text/css" media="all" href="https://sierra-library.github.io/css/styles.min.css"/>

    </head>
    <body>
        <section class="section container-medium">
            <form action="/create_account" method="POST" id="login-form">
                <label class="label" for="username">Username</label>
                <div class="input input-fullWidth">
                    <input id="username" name="username" placeholder="username" type="text" required>
                </div>
                <label class="label" for="password">Password</label>
                <div class="input input-fullWidth">
                    <input id="password" name="password" placeholder="password" type="password" required>
                </div>
                <button class="button button--primary" type="submit">Create Account</button>
            </form>
        </section>
    </body>
</html>